body {
    background-color: black;
}

div {
    text-align: center;
    display: block;
    margin: 30% auto;
    width: 500px;
    border: 30px white solid;
    border-radius: 90px;
}

p {
    background-color: black;
    color: antiquewhite;
    width: 50%;
    margin: 0 auto;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 4rem;
}